
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400&family=Poppins:wght@400&display=swap');

html, body {
    background-color: whitesmoke;
    color-scheme: dark;
    box-sizing: border-box;
    text-align: center;
}

article{
    display: inline-block;
    margin: 0 auto;
    max-width: 500px;
    color: #A96D61;
    background-color: #EAD8C7;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 8px 24px grey;
    font-family:  'Oleo Script Swash Caps', Arial, sans-serif;
    text-align: center;
    font-size: 32px;
}

h2{
    margin: 0;
}

img {
    border-radius: 50%;
    border: #A96D61 solid 8px;
    width: 300px;
    margin-bottom: 10px;
}